.section {

}

.container {
        text-align: center;
}

.filter-box {
    width: 100%;
    height: 100px;
}

.filter {
    width: 30px;
    height: 30px;
    background-color: pink;
    display: inline-block;
    border-radius: 10px;
}

.box {
    width: 400px;
    height: 400px;
    margin: 50px, 50px;
    display: inline-block;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.highlight {
    background-color: lime;
}

.main-section {
    max-width: 80%;
    margin: auto;
}

.activity-section {
    min-height: 250px;
    max-height: 280px;
    margin-top: 50px;
    border-bottom: 2px solid black;
    margin: 2px 0 0 0;
}

.activity img {
    margin-right: 15px;
    float: left;
}

.activity h3,
.activity p{
    margin-left: 15px;
    display: block;
    overflow: hidden;
}

.activity-section {
  background: -webkit-linear-gradient(top, black 70%, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
